<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
        <button type="button" class="btn btn-primary my-3" (click)="agregarTicket()">Nuevo Pasaje</button>
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Espectador</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">PrecioReal</th>
                    <th scope="col">Precio Cobrado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                    <th scope="row">{{ticket.id}}</th>
                    <td>{{ticket.dni}}</td>
                    <td>{{ticket.tipoEspectador}}</td>
                    <td>{{ticket.fechaCobro}}</td>
                    <td>{{ticket.precioReal}}</td>
                    <td>{{ticket.precioCobrado}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="editarTicket(ticket)">Editar</button>
                        <button type="button" class="btn btn-danger mx-3" (click)="borrarTicket(ticket)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>