<div class="container row mx-auto pt-2 text-center">
    <h2>Juego</h2>
    <div class="card col-lg-8 col-md-9 col-sm-10 m-auto text-center mt-3 mb-3">
        <div class="card-header">
            Juego de las palabras
        </div>
        <div class="card-body row mb-4">
            <h5 class="card-title my-3">¿Cuantas {{opcion}} tiene la siguiente palabra?<br><br>{{palabra.nombre}}</h5>
            <img class="col-xl-8 col-md-9 col-sm-10 m-auto mb-4 p-auto" src="card-img" src="assets/img/{{palabra.imagen}}">

            <div *ngIf="alertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{alertMsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div *ngIf="alertDanger" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{alertMsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>



            <!-- Button trigger modal 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Launch static backdrop modal
            </button>-->

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Resultados</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Cantidad de aciertos: {{aciertos}}</p>
                            <p>Cantidad de errores: {{errores}}</p>
                            <p>Cantidad de respuestas: {{contador}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let respuesta of respuestas" class="d-grid gap-2 col-7 mb-2 mx-auto">
                <button (click)="seleccion(respuesta)" [disabled]="deshabilitar" class="btn btn-dark" type="button">{{respuesta}}</button>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button *ngIf="mostrarBtnSig" (click)="siguiente()" type="button" class="btn btn-primary"><i class="fas fa-play"></i>&nbsp;Play</button>
        <button *ngIf="mostrarReiniciar" (click)="reiniciar()" type="button" class="btn btn-primary mx-2"><i class="fas fa-play"></i>&nbsp;Reiniciar</button>
        <button *ngIf="mostrarBtnResult" type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-card-list"></i>&nbsp;Mostrar Resultados
        </button>
    </div>
</div><br><br><br><br>